*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background-color:#e19ff5; 
    display:flex;
    justify-content:center;
    padding:40px;
}

.container{
    background:white;
    width:700px;
    padding:30px;
    border-radius:8px;
}

h2{
    text-align:center;
    margin-bottom:25px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:5px;
}

input,
select{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:4px;
}

.row{
    display:flex;
    gap:20px;
}

.column{
    flex:1;
}

.gender{
    margin-top:10px;
}

.gender input{
    width:auto;
    margin-left:10px;
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    background-color:#e19ff5; 
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background-color:#ba86c9;
    
}