
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

form {
    background: white;
    padding: 30px 25px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}


form input {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: 0.3s;
    font-size: 14px;
}


form input:focus {
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.4);
}


form button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 118, 140, 0.4);
}


::placeholder {
    color: #aaa;
}