*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#234b89;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.container{
    background:#fff;
    width:850px;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

h1{
    text-align:center;
    margin-bottom:30px;
}

label{
    display:block;
    font-weight:bold;
    margin-top:15px;
    margin-bottom:8px;
}

input,
select{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

.row{
    display:flex;
    gap:20px;
}

.col{
    flex:1;
}

.gender{
    display:flex;
    gap:25px;
    margin:10px 0 20px;
}

.gender label{
    font-weight:normal;
}

button{
    width:100%;
    margin-top:25px;
    padding:15px;
    border:none;
    background:#234b89;
    color:white;
    font-size:18px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#17335f;
}